  <!-- navbar.html -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link text-white active" aria-current="page" href="index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="courses.view.php">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="Enrollments.view.php">Enrollments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="Lecturers.view.php">Lecturers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="ProgramStudi.view.php">Program Studi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="Students.view.php">Students</a>
            </li>
          </ul>
          <span class="navbar-brand text-white"><strong>Manajemen Course</strong></span>
        </div>
      </div>
  </nav>
